<nav class="navbar navbar-expand-md navbar-dark clr ">
    <!-- <a class="navbar-brand" href="./assets/ING.png" height="50" width="50"></a> -->
    <a><img class="img" src="assets/ING.png" alt="HCL Logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
       
      </ul>
      <form class="form-inline mt-2 mt-md-0">
          <i class="pi pi-shopping-cart" style="font-size: 2em; cursor: pointer;"> </i>
        <button class="btn my-2 my-sm-0 logout" type="submit" (click)="logout()">Logout</button>
      </form>
    </div>
  </nav>