.login_btn{
    width: 130px;
    color: #ff8c00;
    border-color: #ff8c00;

}

.login_btn:hover{
    color: #ff8c00;
    background-color: #f4c9f403;
    border-color: #ff8c00;
}

.txt{
    color: orange !important;
}
.card-header{
    color: orange !important;
}